@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

*, *::before, *::after {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --text-color: #000;
    --light-text-color: #9ca3af;
    --bg-color: #fff;
    --content-bg-color: #F2F2F2;
    --dark-green: #2ebd46;
    --anti-text-color: #fff;
}

body, html {
    margin: 0;
    padding: 0;
    min-height: 36.5rem;
    width: 25rem;
    color: var(--text-color);
    background-color: var(--bg-color);
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6, p {margin: 0;}

noscript {
    position: fixed;
    inset: 0;
    background-color: var(--bg-color);
}